@primary-color: #FD7438;



.container {
  width: 100%;
  height: 100%;

  .header {
    padding: 0;
    background: #fff;
  }

  .app-content {
    padding: 0;
    //;
  }
}

.fs {
  font-size: 8px !important;
}

.fm {
  font-size: 14px !important;
}

.fb {
  font-size: 17px !important;
}
.silder-right-containers{
  height: 120px;
  line-height: 37px;
  padding-left: 15px;
}
.isMemberMsg{
  height: 158px;
  line-height: 37px;
  padding-left: 15px;
}
.silder-right-container {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  .member-icon {
    padding: 5px;
    text-align: center;
    border: 2px solid @primary-color;
    border-radius: 99px;

    i {
      color: @primary-color;
    }
  }
}

.silder-right-header {
  .menu_child {
    cursor: pointer;
    margin: 0;
    padding: 0 20px;
    position: relative;
    display: block;
    white-space: nowrap;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

    position: relative;
    top: 1px;
    float: left;
    border-bottom: 2px solid transparent;
  }
}

.silder-right-modal {
  .ant-modal-body {
    padding: 0;

    .modal-inner {
      display: flex;

      .modal-inner-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;

        .header-message {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: flex-end;

          span {
            flex: 0 0 50%;
            min-width: 50%;
            max-width: 50%;

            &>span {
              float: right;
            }
          }
        }
      }
    }
  }
}

.silder-right-body {
  &::-webkit-scrollbar {
    display: none;
  }

  .table-back {
    background: #ff000024;
  }

  .order-table {
    font-size: 13px;

    .invalid-line {
      text-decoration: line-through;
    }
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 16px 5px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h500 {
  height: 500px;
}

.ant-message {
  z-index: 9999 !important;
}

.TabPane_1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 80px 80px 80px auto;
  grid-template-areas: "a b"
    "c d"
    "e f"
    "g h"
    "j k";
  grid-auto-flow: row dense;
  place-items: start;

  .item {
    width: 80%;
  }

  .index_2 {
    width: 90%;
    grid-area: c-start/c-start/d-end/d-end;
  }

  .index_3 {
    width: 60%;
    grid-area: e-start/e-start/f-end/f-end;
  }

  .index_6 {
    padding-top: 12px;
    grid-area: j-start/j-start/k-end/k-end;
    place-self: center;
  }
}

.TabPane_4 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 80px) auto;
  grid-template-areas: "z x"
    "q w"
    "e r"
    "t y";
  grid-auto-flow: row dense;
  place-items: start;

  .item {
    width: 80%;
  }

  .index1 {
    width: 60%;
    grid-area: q-start/q-start/w-end/w-end;
  }

  .index4 {
    padding-top: 12px;
    grid-area: t-start/t-start/y-end/y-end;
    place-self: center;
	}
	
	.index{
		width: 40%;
    grid-area: z-start/z-start/x-end/x-end;
	}
}
.icon-shanchu:before{
  font-size: 25px;
}
.icon-soushuo:before{
  font-size: 22px;
}
.aa {
  display: none;
}
.ant-row{
  .ant-col-6{
    display: flex!important;
    .member-icon-spans{
      margin-left: 10px!important;
    }
  }
}
.settings_pwd{
  .ant-modal-body{
    display: flex;
    justify-content: space-between;
    .keywords{
      .keypad_container{
        margin-top: 44px;
      }
    }
  }
}
.member_row1{
  width: 100%;
  display: flex;
  div{
    width: 100%;
  }
  // justify-content: space-around;
}
.member_row2{
  width: 100%;
  display: flex;
  .row2_balance{
    width: 100%;
    display: flex;
    // justify-content: space-between;
  }
  .row2_score{
    width: 100%;
    display: flex;
    // justify-content: space-between;
  }
}
// .app-footer{
//   .ant-spin-container{
//     height: 125px!important;
//   }
// }
.member_row3{
  width: 100%;
  display: flex;
  .row3_temporaryDiscount{
    width: 60%;
  }
  .row3_btn{
    width: 100%;
  }
}

.exchange{
  position: relative;
  width: 100%;
  display: flex;
  // justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  .exchange_cards{
    width: 300px;
    height: 144px;

   
  }
  .exchange_card{
    width: 300px;
    height: 144px;
    display: flex;
    border:1px solid #ccc;
    border-radius: 5px;
    align-items:center;
    position: relative;
    .card_stock{
      position: absolute;
      right: 3px;
      bottom: 0px;
      font-size: 15px;
    }
    .card_img{
      padding-left: 11px;
      img{
        width: 120px;
        height: 120px;
      }
    }
    .card_msg{
      padding-left: 15px;
      font-size: 20px;
      // font-weight: bold;
      line-height: 40px;
    }
    
  }
}
.exchange_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .exchange_card{
    margin-left: 15px;
    margin-top: 15px;
  }
}

.small_btn{
  margin-left: 10px;
}
.formitem{
  .ant-form-item{
    margin-bottom: 0px !important;
  }
}
.Custom_consumption_pointss{
  width:100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.Custom_consumption_points_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}